@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700;800&display=swap");
body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: row;
  height: 100vh;

  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer components {
  .navbarcomp {
    /* -left-[250px] */
    /* hover:translate-x-[250px] */
    @apply flex flex-col absolute   transition ease-in-out delay-150 duration-300 bg-primary-color-dark  p-8 w-[300px] overflow-hidden hover:overflow-visible  h-full;
  }

  .boardButton {
    @apply before:z-[0] relative before:flex before:absolute before:w-[270px] before:-left-8 before:transition-colors before:ease-in-out hover:before:bg-highlight-color before:h-[calc(100%+1.5rem)] before:rounded-r-full;
  }

  .navBarButtonAlignment {
    @apply flex flex-row items-center mt-4 gap-4;
  }
}
